<div class="container">
    <div>
        <p class="text-end"> Price </p>
        <hr>
    </div>

    <div class="row mb-3" *ngFor="let product of checkout_products">
        <div class="col-4 mb-3">
            <img src="{{ product.thumbnail }}" alt="" class="checkout-img">
        </div>
        <div class="col-6">
            <p class="font-18-700"> {{ product.title }} </p>
            <p class="stock-color"> In stock </p>
            <div class="d-flex mb-3">
                <a class="me-2 cursor" (click)="deleteProduct(product)">Delete | </a>
                <a class="me-2">Save For Later | </a>
                <a class="me-2">Compare with similar items</a>
            </div>
        </div>
        <div class="col-2 text-end">
            <p class="font-18-700"> ₹ {{ product.price }} </p>
        </div>
        <hr>
    </div>
</div>