<div class="footer py-5">
    <div class="container">
        <div class="d-flex justify-content-around">
            <div>
                <h4 class="heading">Get to Know Us</h4>
                <ul class="ps-0 lists">
                    <li class="mb-2">
                        <a href="">About Us</a>
                    </li>
                    <li class="mb-2">
                        <a href="">Careers</a>
                    </li>
                    <li class="mb-2">
                        <a href="">Press Releases</a>
                    </li>
                    <li class="mb-2">
                        <a href="">Amazon Cares</a>
                    </li>
                    <li class="mb-2">
                        <a href="">Gift a Smile</a>
                    </li>
                    <li class="mb-2">
                        <a href="">Amazon Science</a>
                    </li>
                </ul>
            </div>

            <div>
                <h4 class="heading">Contact with Us</h4>
                <ul class="ps-0 lists">
                    <li class="mb-2">
                        <a href="">Facebook</a>
                    </li>
                    <li class="mb-2">
                        <a href="">Twitter</a>
                    </li>
                    <li class="mb-2">
                        <a href="">Instagram</a>
                    </li>
                </ul>
            </div>

            <div>
                <h4 class="heading">Get to Know Us</h4>
                <ul class="ps-0 lists">
                    <li class="mb-2">
                        <a href="">Sell on Amazon</a>
                    </li>
                    <li class="mb-2">
                        <a href="">Sell under Amazon Accelerator</a>
                    </li>
                    <li class="mb-2">
                        <a href="">Amazon Global Selling</a>
                    </li>
                    <li class="mb-2">
                        <a href="">Become an Affiliate</a>
                    </li>
                    <li class="mb-2">
                        <a href="">Fulfilment By Amazon</a>
                    </li>
                    <li class="mb-2">
                        <a href="">Advertise your Products</a>
                    </li>
                    <li class="mb-2">
                        <a href="">Amazon Pay On Merchants</a>
                    </li>
                </ul>
            </div>

            <div>
                <h4 class="heading">Let Us Help You</h4>
                <ul class="ps-0 lists">
                    <li class="mb-2">
                        <a href="">COVID-19 and Amazon</a>
                    </li>
                    <li class="mb-2">
                        <a href="">Your Account</a>
                    </li>
                    <li class="mb-2">
                        <a href="">Return Center</a>
                    </li>
                    <li class="mb-2">
                        <a href="">100% Purchase Protection</a>
                    </li>
                    <li class="mb-2">
                        <a href="">Amazon App Download</a>
                    </li>
                    <li class="mb-2">
                        <a href="">Amazon Assistant Download</a>
                    </li>
                    <li class="mb-2">
                        <a href="">Help</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>