<div class="main-header">
    <div class="header-1 px-3">
        <div class="row pt-3">
            <div class="col-2 text-center cursor" (click)="landingPage()">
                <img src="../../../assets/amazon_PNG24.png" alt="" class="logo">
            </div>
            <div class="col-7">
                <form #searchProduct="ngForm" (ngSubmit)="filterProducts(searchProduct.value)">
                    <input type="text" name="searchValue" id="" class="w-100 searchBar" [(ngModel)] = "searchValue">
                    <button class="btn icon position-absolute" type="submit">
                        <mat-icon>search</mat-icon>
                    </button>
                </form>
            </div>
            <div class="col-1 my-auto cursor" (click)="login()">
                <span class="small d-block">Hello, Param</span>
                <span class="dark">Account & Lists</span>
            </div>
            <div class="col-1 my-auto">
                <span class="small d-block">Returns</span>
                <span class="dark">& Orders</span>
            </div>
            <div class="col-1 my-auto cursor" (click)="cartPage()" style="z-index: 5;">
                <mat-icon style="color: white;vertical-align: bottom;">add_shopping_cart</mat-icon>
                <span class="cartItem font-18-500" style="color: white;"> {{ _shoppingCartItemsService.getCartLength()
                    }} </span>
            </div>
        </div>
    </div>

    <div class="header-2"></div>
</div>