<app-header></app-header>

<div class="landing" *ngIf="!showProductDetailPage">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let image of images; let i = index;" [ngClass]="i == 0 ? 'active' : '' ">
                <img src="../../../assets/{{image}}.jpg" class="d-block w-100 banner" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="container">
        <div class="products">
            <div class="d-flex flex-wrap ps-3">
                <div class="card mb-5 p-4 me-4 cursor" style="width: 18rem;" *ngFor = "let product of products; let j = index;" (click)="productDetail(product)">
                    <h5 class="card-title"> {{ product.title }} </h5>
                    <img src="{{product.thumbnail}}" class="card-img-top product-img" alt="...">
                    <div class="card-body">
                        <p class="card-text"> {{ product.description }} </p>
                        <div class="d-flex justify-content-between">
                            <a href="#" class="btn btn-primary">₹ {{ product.price }} </a>
                            <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-product-detail [selectedProduct]="selectedProduct" *ngIf="showProductDetailPage"></app-product-detail>

<app-footer></app-footer>